
<tr>
  <th>{{this.quantity}}</th>
  <th>{{this.cardName}}</th>
  <td>{{this.cardDescripstion}}</td>
  <td>{{this.cardPrice}}</td>
  <td>{{this.cardForSale}}</td>
  <td>
    <form class="deleteButton" method="post" action="deleteDeckcard">
      <input type = "hidden" name = "cardName" value = "{{this.cardID}}" />
      <input type = "hidden" name = "deckName" value = "{{this.deckID}}" />
      <input type="submit" value="Delete">
    </form>
  </td>
</tr>
