
<tr>
  <th>{{this.quantity}}</th>
  <th>{{this.cardName}}</th>
  <td>{{this.cardDescripstion}}</td>
  <td>{{this.cardPrice}}</td>
  <td>{{this.cardForSale}}</td>
  <th>{{this.cardForSale}}</th>
</tr>
