<ul>
  <a href="Account"><li>Account</li></a>
  <a href="Deck"><li  style="background-color:orange">Deck</li></a>
  <a href="Collection"><li>Collection</li></a>
  <a href="Cards"><li>Card Database</li></a>
</ul>

<body>


<div class="dropdown">
  <form id="deleteDeck" method="post" action="deleteDeck">
    <input type = "hidden" name = "deck_Name" value = "{{deckName.deckID}}" />
    <input type="submit" value="Delete Current Deck"><br>
  </form>
</div>

{{#each deckList}}
<div>
<form class="{{this.deckName}}" action="Deck">
  {{this.deckName}}
  <input type = "hidden" name = "deckName" value = "{{this.deckID}}" />
  <input type="submit" value="Go"><br>
</form>
</div>
{{/each}}



  <table style="width:100%">
    <tr>
      <th>Quantity</th>
      <th>Card Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>For Sale</th>
      <th>Delete</th>
    </tr>
    {{#each data}}
      {{> deckCard}}
    {{/each}}
  </table>
  <div class="dropdown">
    <span>DeckName : {{deckName.deckName}}</span>
  </div>
  <form id="addDeck" method="post" action="addDeck">
    <h3>Create New Deck</h3><br>
    <label for="deck_name">Deck Name:</label>
    <input type="text" id="deck_name" name="deck_name">
    <label for="user">Username:</label>
    <input type="text" id="user" name="user">
    <input type="submit" value="Create">
  </form>

  <form class="addCard" method="post" action="addCard">
    <h3>Add Card</h3><br>
    <label for="Card_Name">Card Name:</label>
    <select id="Card_Name" name="Card_Name">
        <option value="">Select Card</option>
        {{#each cards}}
        <option value="{{this.cardName}}">{{this.cardName}}</option>
        {{/each}}
    </select>

    <label for="Quantity">Quantity:</label>
    <input type="text" id="Quantity" name="Quantity">
    <label for="Deck">Deck:</label>
    <select id="Deck" name="Deck">
        <option value="">Select Deck</option>
        {{#each deckList}}
        <option value="{{this.deckID}}">{{this.deckName}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
  </form>
<tr>
  <p style="color:red">Total number of cards, 30 in the deck, 30 more required for a full deck</p>
</tr>
